asgiref
boto3
botocore
django
django-allow-cidr
django-crispy-forms
django-mathfilters
django-storages
django-utils-six
gunicorn
jmespath
packaging
Pillow
psycopg2-binary
pyparsing
python-dateutil
s3transfer
six
sqlparse
tzdata
urllib3
crispy-bootstrap5